.cards {
	display: flex;
	flex-wrap: wrap;
	flex-basis: 300px;
}
.card {
	padding: 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
	border-radius: 6px;
	margin: 5px;
	background-color: PowderBlue;
	flex-basis: 300px;
	flex-grow: 1;
}
.card img {
	height: 150px;
	width: 150px;
	border-radius: 6px;
}
.card h3 {
	font-weight: bold;
	font-size: 20px;
	padding-left: 20px;
	flex-grow: 1;
	color: white;

}